.welcome {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 70px 0;
  padding: 0 50px;
}

.motoSpacing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.businessMoto {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutLink {
  color: black;
}

.aboutLink:hover {
  text-shadow: 0 3px 5px tan;
}

@media (max-width: 1200px) {
  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .motoSpacing {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .welcome {
    padding: 10px;
  }
  .businessMoto {
    max-width: 75%;
  }
}
