.mobileNavigation {
  display: none;
}

.mobileCart {
  display: none;
}

.navGroup {
  display: flex;
  justify-content: center;
}
.Navigation {
  display: flex;
}



.cartContainer {
  min-width: 33%;
  display: flex;
  justify-content: flex-end;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.navBar h3 {
  font-size: 1.9em;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.cart p {
  font-size: 1.8em;
}

.navList {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media (max-width: 1200px) {
  .navBar .Navigation {
    display: none;
  }
  .cart {
    display: none;
  }
  .navBar .mobileNavigation {
    display: flex;
    align-items: center;
  }
  .mobileCart {
    display: flex;
  }
  .hamburgerMenu {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  .navBar {
    position: relative;
  }
  .mobileNavLinks{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 40px;
    right: 0;
    width: 100%;
    background-color: rgb(222, 184, 140);
    border-radius: 0 0 60px 60px;
    border: 2px solid black;
    box-shadow: 0 6px 5px black;
  }
  .mobileNavLinks .navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    
  }
  .link{
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 600px) {
  .logo {
    min-width: 45%;
  }
  .mobileNavLinks ul {
    gap: 5px;
  }
  .mobileNavLinks {
    gap: 5px;
    border-radius: 0 0 30px 30px;
  }
}
