


@media (max-width: 1150px) {
    .productScroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .productInfo {
        text-align: center;
    }
    .productImgs {
        max-width: 550px;
        border-radius: 60px;
    }
}